.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  margin: auto;
}

.footer {
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
}

/* .container * {
  border: blue 1px dotted;
} */

