.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.app-main {
  flex-grow: 1;
  padding: 2rem;
  text-align: center;
}

.app-footer {
  padding: 0.5rem;
  text-align: center;
  font-size: 0.9rem;
}
