/* Basic Styling */
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: #00006A; 
    min-width: 320px; 
}

/* Buttons */
button {
    transition: 0.3s ease-in-out;
    box-shadow: 2px 2px 0px rgb(0, 0, 0, 0.3);
}

button:hover {
    background-color: rgb(210, 210, 210);
}

button:active {
    box-shadow: none;
    border: 3px solid black;
    background-color: white;
}