/* Theming Variables */
:root {
    /* Padding */
    --pad-small: 10px; 
    
    /* Colors */
    --base-color: #ffffff;
    --text-color: black;    
    --card-src-color: white;
    --card-color:white; 

    /* Effect */
    --hover-effect: brightness(0.9);
    
    /* Borders */
    --border-radius: 5px;
    --border-primary: blue solid 1.5px;
    --border-secondary: blue dashed 1px;
    --box-shadow: none;

    /* Gaps */
    --flex-gap: 10px;
    --button-gap: 5px;

    /* Icon */
    --icon-size: 44px;
}

/* Basis Styling */
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);  
    min-width: 320px; 
}
  
/* Elements Styling */
    button {
    transition: 0.1s ease-in-out;
}

/* Effects */
button:hover {
    background-color: rgb(210, 210, 210);
}

button:active {
    box-shadow: none;
    border: 3px solid black;
    background-color: white;
}

/* Style */
button {
    border: var(--border-primary);
}