/* Theming Variables */
:root {
    /* Colors */
    --base-color: #ffffff;
    --text-color: black;    
    --card-src-color: #fcbb53;
    --card-color:#fee2b6; 

    /* Effect */
    --hover-effect: brightness(0.9);
    
    /* Borders */
    --card-border-radius: 10px;
    --box-shadow: 0px 0px 6px rgba(0, 0, 0, 1);

    /* Gaps */
    --flex-gap: 10px;
    --button-gap: 3px;

    /* Icon */
    --icon-size: 44px;
}

/* Basis Styling */
body {
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    color: var(--text-color);  
    min-width: 320px; 
}
  
/* Elements Styling */
    button {
    transition: 0.1s ease-in-out;
}