/* Global reset and base styles */
:root {
  --card-color: #ffffff;
  --text-color: black;
  --card-border-radius: 10px;
  --card-src-color: #fcbb53;
  --card-color:#fee2b6; 
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px; /* Base size for rem scaling */
  font-family: 'Open Sans', sans-serif;
  color: var(--text-color);
  background: rgb(245, 245, 245); /* Pastel Purple, Vivid Blue, Pastel Teal */
  min-width: 320px; 
}



button {
  
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  transition: 0.1s ease-in-out;
  border: none;

  &:hover {
    outline: 3px solid black;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.5) ;
  }
  
  &:active {
    border: 3px solid black;
    outline: none;
    box-shadow: none;    
    filter: brightness(95%);
  }

}

svg {
  width: 20px;
  fill: rgb(23, 23, 23);
}


