.flex {
    display: flex;
    flex-direction: row;
    gap: var(--flex-gap);
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: var(--flex-gap);
}

.right {
    justify-content: right;
}

.p1 {
    padding: 5px;
}