.card {
    border: black 1px dashed;
    border-radius: 5px;
    width: 300px;
    margin: auto;
    padding: 20px 0px;
    text-align: center;
}

.text {
    padding: 10px 0px;
}

hr {
    height: 1px;
    margin: 10px 0px;
    background-color: black;
}