.card {
    margin: 150px auto 0px;
    text-align: center;

    width: 290px;
    height: 200px;
    border-radius: var(--card-border-radius);
    background-color: var(--card-color);    
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 1px 1px 2.5px rgba(0, 0, 0, 0.2);

    @media only screen and (max-width: 767px) {
        margin: 30px auto 0px;
    }
}

.text__src {
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--card-src-color);
    border-radius: var(--card-border-radius) var(--card-border-radius) 0px 0px;
}

.main {    
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
}