.card {
    margin: 150px auto 0px;
    text-align: center;
    align-self: center;

    width: 100%;
    max-width: 500px;
    height: 200px;
 
    display: flex;
    flex-direction: column;
    justify-content: space-between;    
}

.note {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
    
    border: var(--border-secondary);
    border-radius: var(--border-radius) var(--border-radius) 0px 0px;
}

@media (max-width: 767px) {
    .card {
        margin: 15px auto 0px;
    }
}

.card p{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text__src {
    flex: 1.33;
    border-bottom: var(--border-primary);
}

.text__trg, .text__prn {
    flex: 1;  
}