.choiceBar {
    display: grid; 
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
}

.choiceBar button {
    flex: 1;
    height: 50px;


    svg {
        margin-top: 4px;
        width: 25px;
    }
  }
  
.repeatButton {
    border-radius: 0px 0px 0px var(--card-border-radius);
    font-size: 1rem;  
 
}

.dontButton {
    border-radius: 0px 0px var(--card-border-radius) 0px;
    font-size: 1rem;
}