.choiceBar {
    display: flex;
    direction: row;
}

.choiceBar button {
    flex: 1;
    padding: 10px;
    border: black 1px dashed;
    border-radius: 5px;
  }
  
.repeatButton {
    background-color: lightgreen;
    margin: 10px 5px 10px 10px;
}

.dontButton {
    margin: 10px 10px 10px 5px;
}