.icon {
  width: 44px;
  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: transparent;

  & svg {
    width: 18px;
  }

  &:hover {
    outline: 3px solid black; 
  }

  &:active { 

    backdrop-filter: brightness(0.9);
  }
}









  