.icon {
  width: 44px;
  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: transparent;

  & svg {
    width: 20px;
  }

  &:hover {
    backdrop-filter: brightness(0.9);
  }

  &:active {     
    outline: 3px solid black;
    backdrop-filter: none; 
  }
}












  